<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530543737782-bschl5n85thqqtt41f0q29n2tlh520em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530543737782-bschl5n85thqqtt41f0q29n2tlh520em</string>
	<key>API_KEY</key>
	<string>AIzaSyAoXvlO_kkZPWodeMKuOwiXpB83vIQCJeg</string>
	<key>GCM_SENDER_ID</key>
	<string>530543737782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTaPlus</string>
	<key>PROJECT_ID</key>
	<string>taplus-app-14d0a</string>
	<key>STORAGE_BUCKET</key>
	<string>taplus-app-14d0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530543737782:ios:1fb8b7c7df31b606439f17</string>
</dict>
</plist>